.container
    margin: 0 200px
    overflow: hidden
    text-align: left
    p
        font-family: Georgia, Cambria, "Times New Roman", Times, serif
    h1, h2, h3, h4
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif
        font-weight: 600
    h1
        font-size: 2em
        margin-top: 50px
    h2
        font-size: 1.7em
        margin-top: 40px
    h3
        font-size: 1.5em
        margin-top: 30px
    h4
        font-size: 1.2em
        margin-top: 20px
    p
        font-weight: 300
        strong
            font-weight: 600

    code
        padding: .2em
        font-family: courier, monospace
        background-color: #eee
    pre
        background-color: #eee
        border: 1px solid #d3d3d3
        padding: .5em
        overflow-x: scroll
        code
            padding: 0

@media(max-width: 1024px)
    .container
        margin: 0 100px

@media(max-width: 768px)
    .container
        margin: 0